@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --ff-primary: 'Roboto', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --clr-blue-primary: rgb(0, 173, 238);
  --clr-black-primary: rgb(0, 0, 0);
  --clr-black-secundary: rgb(36, 36, 36);
  --clr-white-primary: rgb(255, 255, 255);
  --clr-gray-secundary: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

body, input, button, textarea {
  font-family: var(--ff-primary);
}

.container {
  max-width: 340px;
  margin: 0 auto;
  padding: 2rem;
}

.title-secundary {
  margin-top: 4rem;
}

.form-user,
.form-post {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 2rem;
}

textarea {
  max-width: 100%;
}

a {
  color: var(--clr-black-primary);
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 1rem;
  text-align: center;
}

a:active {
  opacity: .7;
  background-color: var(--clr-gray-secundary);
}

input, button, textarea {
  padding: 1rem;
}

label {
  margin-bottom: .5rem;
}

label + input {
  margin-bottom: 1rem;
}

span + span {
  margin-top: .3rem;
}

input:focus {
  outline-color: var(--clr-blue-primary);
}

li + li {
  margin-top: 2rem;
}

.post-container {
  box-shadow: 0 0 10px rgb(219, 219, 219);
  padding: 1.5rem;
}

.post-container strong {
  font-weight: var(--fw-medium);
  margin-bottom: .2rem;
  font-size: 1.7rem;
}

.post-container span {
  font-size: 1.4rem;
  opacity: .7;
}

.post-container p {
  font-size: 1.5rem;
}

.post-container span,
.post-container p {
  color: var(--clr-black-secundary);
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
